#appTopNav {
    /* https://cloudscape.design/components/top-navigation/?tabId=api */
    position: sticky;
    top: 0;
    z-index: 1999;
}

.Auribus {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    align-items: center;
}

.AuribusIcon {
    width: 120px;
}
